# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
Bin/
Builds/
Build/
UnityGenerated/
Library/
Assets/AssetStoreTools*
App/
UWP/
project.json
project.lock.json
Logs/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
.vs/
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.csproj
*.pidb
*.suo
/*.sln
*.sln
*.user
*.unityproj
*.ipch
*.opensdf
*.sdf
*.tlog
*.log
*.idb
*.opendb
WSATestCertificate.pfx
WSATestCertificate.pfx.meta
KSEditorLogs/
AerialEditor/ClientConfig.json
AerialEditor/HKJC_BroadcastingTVOverlayEditor.exe
AerialEditor/UnityCrashHandler64.exe
AerialEditor/UnityPlayer.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/app.info
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/boot.config
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/globalgamemanagers
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/globalgamemanagers.assets
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/level0
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/level0.resS
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/resources.assets
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/resources.assets.resS
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/resources.resource
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/RuntimeInitializeOnLoads.json
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/ScriptingAssemblies.json
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/sharedassets0.assets
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/sharedassets0.assets.resS
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Accessibility.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Assembly-CSharp.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Mapbox.IO.Compression.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Mapbox.Json.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Mapbox.VectorTile.ExtensionMethods.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Mapbox.VectorTile.Geometry.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Mapbox.VectorTile.PbfReader.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Mapbox.VectorTile.VectorTileReader.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/MapboxAccountsUnity.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Microsoft.Bcl.AsyncInterfaces.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Mono.Data.Sqlite.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Mono.Posix.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Mono.Security.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Mono.WebBrowser.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/mscorlib.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/netstandard.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Newtonsoft.Json.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Novell.Directory.Ldap.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Ookii.Dialogs.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/SimpleInspectorAttributes.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/SimpleScrollSnap.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/SocketIOUnityAssembly.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Buffers.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.ComponentModel.Composition.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.ComponentModel.DataAnnotations.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Configuration.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Core.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Data.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Design.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Diagnostics.StackTrace.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.DirectoryServices.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Drawing.Design.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Drawing.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.EnterpriseServices.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Globalization.Extensions.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.IO.Compression.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.IO.Compression.FileSystem.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Memory.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Net.Http.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Numerics.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Numerics.Vectors.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Reactive.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Runtime.CompilerServices.Unsafe.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Runtime.InteropServices.WindowsRuntime.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Runtime.Serialization.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Runtime.Serialization.Formatters.Soap.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Runtime.Serialization.Xml.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Security.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.ServiceModel.Internals.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Text.Encodings.Web.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Text.Json.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Threading.Tasks.Extensions.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Transactions.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.ValueTuple.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Web.ApplicationServices.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Web.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Web.Services.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Windows.Forms.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Xml.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Xml.Linq.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/System.Xml.XPath.XDocument.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Unity.Postprocessing.Runtime.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Unity.TextMeshPro.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Unity.Timeline.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.AccessibilityModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.AIModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.AndroidJNIModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.AnimationModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.ARModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.AssetBundleModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.AudioModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.ClothModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.ClusterInputModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.ClusterRendererModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.CoreModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.CrashReportingModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.DirectorModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.DSPGraphModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.GameCenterModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.GIModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.GridModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.HotReloadModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.ImageConversionModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.IMGUIModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.InputLegacyModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.InputModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.JSONSerializeModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.LocalizationModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.ParticleSystemModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.PerformanceReportingModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.Physics2DModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.PhysicsModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.ProfilerModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.RuntimeInitializeOnLoadManagerInitializerModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.ScreenCaptureModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.SharedInternalsModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.SpriteMaskModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.SpriteShapeModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.StreamingModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.SubstanceModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.SubsystemsModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.TerrainModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.TerrainPhysicsModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.TextCoreModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.TextRenderingModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.TilemapModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.TLSModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.UI.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.UIElementsModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.UIElementsNativeModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.UIModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.UmbraModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.UNETModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.UnityAnalyticsModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.UnityConnectModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.UnityCurlModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.UnityTestProtocolModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.UnityWebRequestAssetBundleModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.UnityWebRequestModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.VehiclesModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.VFXModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.VideoModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.VirtualTexturingModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.VRModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.WindModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/UnityEngine.XRModule.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/Utilities.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Managed/websocket-sharp.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Plugins/x86_64/AVProDeckLink.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Plugins/x86_64/sqlite3.dll
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Resources/unity default resources
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/Resources/unity_builtin_extra
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/VRPanorama/exiftool.exe
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/VRPanorama/exiftool.exe.meta
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/VRPanorama/ffmpeg
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/VRPanorama/ffmpeg.exe
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/VRPanorama/ffmpeg.exe.meta
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/VRPanorama/ffmpeg.meta
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/VRPanorama/Spatial Media Metadata Injector
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/VRPanorama/Spatial Media Metadata Injector.exe
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/VRPanorama/Spatial Media Metadata Injector.exe.meta
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/VRPanorama/Spatial Media Metadata Injector.meta
AerialEditor/MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll
AerialEditor/MonoBleedingEdge/EmbedRuntime/MonoPosixHelper.dll
AerialEditor/MonoBleedingEdge/etc/mono/browscap.ini
AerialEditor/MonoBleedingEdge/etc/mono/config
AerialEditor/MonoBleedingEdge/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
AerialEditor/MonoBleedingEdge/etc/mono/2.0/machine.config
AerialEditor/MonoBleedingEdge/etc/mono/2.0/settings.map
AerialEditor/MonoBleedingEdge/etc/mono/2.0/web.config
AerialEditor/MonoBleedingEdge/etc/mono/2.0/Browsers/Compat.browser
AerialEditor/MonoBleedingEdge/etc/mono/4.0/DefaultWsdlHelpGenerator.aspx
AerialEditor/MonoBleedingEdge/etc/mono/4.0/machine.config
AerialEditor/MonoBleedingEdge/etc/mono/4.0/settings.map
AerialEditor/MonoBleedingEdge/etc/mono/4.0/web.config
AerialEditor/MonoBleedingEdge/etc/mono/4.0/Browsers/Compat.browser
AerialEditor/MonoBleedingEdge/etc/mono/4.5/DefaultWsdlHelpGenerator.aspx
AerialEditor/MonoBleedingEdge/etc/mono/4.5/machine.config
AerialEditor/MonoBleedingEdge/etc/mono/4.5/settings.map
AerialEditor/MonoBleedingEdge/etc/mono/4.5/web.config
AerialEditor/MonoBleedingEdge/etc/mono/4.5/Browsers/Compat.browser
AerialEditor/MonoBleedingEdge/etc/mono/mconfig/config.xml
AerialEditor/VRPanorama/exiftool.exe
AerialEditor/VRPanorama/exiftool.exe.meta
AerialEditor/VRPanorama/ffmpeg
AerialEditor/VRPanorama/ffmpeg.exe
AerialEditor/VRPanorama/ffmpeg.exe.meta
AerialEditor/VRPanorama/ffmpeg.meta
AerialEditor/VRPanorama/Spatial Media Metadata Injector
AerialEditor/VRPanorama/Spatial Media Metadata Injector.exe
AerialEditor/VRPanorama/Spatial Media Metadata Injector.exe.meta
AerialEditor/VRPanorama/Spatial Media Metadata Injector.meta
Assets/Template

AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/level1
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/level2
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/level2.resS
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/level3
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/sharedassets1.assets
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/sharedassets2.assets
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/sharedassets2.assets.resS
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/sharedassets3.assets
AerialEditor/HKJC_BroadcastingTVOverlayEditor_Data/sharedassets3.assets.resS
